* {
    font-family: 'Archivo', sans-serif;
}

.title {
    width: 100%;
    height: 200px;
    color: white;
    font-size: 25px;
    font-weight: bold;
    text-shadow: 1px 3px 1.2px gray;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(rgba(255, 255, 255, 0) 60%,
            rgba(255, 255, 255, 0.5) 70%,
            rgba(255, 255, 255, 0.7) 75%,
            rgba(255, 255, 255, 0.9) 80%,
            rgba(255, 255, 255, 1) 90%),
        url("https://t1.daumcdn.net/cfile/tistory/99B8D33359EB46E71E");
    background-position: center 25%;
    background-size: cover;
}

.searchBox>input {
    height: 22px;
    font-size: 15px;
}

.searchBox>button {
    height: 30px;
    font-size: 15px;
}

.cardsBox {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.cards {
    background-color: #F9FFFF;
    box-shadow: 0px 0px 8px gray;
    width: 300px;
    height: 750px;
    border-radius: 10px;
    margin: 20px 150px 100px 150px;
}

.cards:hover {
    cursor: pointer;
}

.cards>img {
    width: 260px;
    height: 390px;
    border-radius: 30px;
    padding: 20px 20px 20px 20px;
}

.details {
    padding: 0px 20px 20px 20px;
}